.WordPressPerformanceSection {
  margin: 60px 0;
  overflow: hidden;
}
.WordPressPerformanceSection .title {
  font-weight: 500;
  font-size: 50px;
  max-width: 560px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.WordPressPerformanceSection .title span {
    background: linear-gradient(180deg, #026888 0%, #440370 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.WordPressPerformanceSection p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}

@media (max-width: 1199px) {
  .WordPressPerformanceSection p {
    font-size: 16px;
    line-height: 1.3;
  }
  .WordPressPerformanceSection .title {
    font-size: 39px;
    max-width: unset;
  }
}

@media (max-width: 991px) {
  .WordPressPerformanceSection {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .WordPressPerformanceSection {
    margin: 30px 0;
  }
}

@media (max-width: 480px) {
  .WordPressPerformanceSection .title {
      font-size: 34px;
      max-width: unset;
  }
}
