.testimonial {
  margin: 60px 0;
}

.testimonial .testimonialhead1 {
  color: #031243 !important;
  font-size: 16px;
}

.testimonial-head {
  margin-bottom: 35px;
}

.testimonial .title {
  font-size: 45px;
  line-height: 1;
}

.testimonial .title span {
  color: #0504a5;
}

/* ===================== */

.testimonial-card * {
  margin: 0;
  line-height: 1;
}

.testimonial-card-head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.testimonial-img {
  width: 60px;
  height: 60px;
}

.testimonial-img img {
  width: 100%;
  border-radius: 50%;
  height: 100% 60px;
}

.testimonial-card {
  border: 1px solid #0504a5;
  padding: 20px;
  border-radius: 30px;
  margin: 1px 0;
  min-height: 240px;
}

.testimonial-card-body {
  font-size: 18px;
  line-height: 1.3;
}

.testimonial-card-body:before {
  content: open-quote;
}

.testimonial-card-body:after {
  content: close-quote;
}

.testimonial-card-head-text .name {
  color: #0504a5;
  font-size: 18px;
}

.testimonial-card-head-text .business {
  color: #707070;
  font-size: 14px;
}

.testimonial-card-head-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.testimonial-cards .slick-slide {
  padding: 0 10px;
}

.testimonial-cards .slick-list {
  margin: 0 -10px;
}

@media (max-width: 991px) {
  .testimonial-card-body {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .testimonial-card-head {
    margin-bottom: 15px;
  }

  .testimonial-head {
    margin-bottom: 25px;
    text-align: center;
  }

  .testimonial .title {
    font-size: 33px;
  }
}