/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/OutfitRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/OutfitMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/OutfitSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/OutfitBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Outfit", serif;
}
p {
  color: #707070;
  /* font-weight: 200; */
  font-weight: 300;
}

.at::before {
  content: "@";
}
.dot::before {
  content: ".";
}
.ObfuscatedEmail {
  cursor: pointer;
}

.purpleColor {
  color: #440370 !important;
}
.whiteColor {
  color: #fcfbfb !important;
}
.grayColor {
  color: #707070 !important;
}

.form-control {
  border: 1px solid #fcfbfb;
  background: transparent;
  color: #fcfbfb;
  border-radius: 30px;
  padding: 13px 16px;
  font-size: 15px;
}
.form-control:focus {
  color: #fcfbfb;
  background-color: transparent;
  border-color: #fcfbfb;
  outline: 0;
  box-shadow: unset;
}
.form-control::placeholder {
  color: #fcfbfb;
}
.form-control option {
  color: #000;
}

.btn-loading {
  opacity: 0.3;
  pointer-events: none; /* Optional: to prevent interactions while loading */
}

.btn-loaded {
  opacity: 1;
  pointer-events: auto;
}

.outfit {
  font-family: "Outfit", serif;
}
.poppins {
  font-family: "Poppins", serif;
}

.bg-gradiant {
  background: rgb(68, 3, 112);
  background-image: linear-gradient(
    90deg,
    rgba(68, 3, 112, 1) 0%,
    rgba(42, 53, 80, 1) 82%,
    rgba(42, 53, 80, 1) 100%
  );
  color: #fff;
}

.main-header {
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 0;
}
.main-header .navbar-brand {
  width: 130px;
}
.main-header .navbar-brand img {
  width: 100%;
}
.main-header .navbar-nav .nav-link {
  color: #fff;
  position: relative;
}
.main-header .navbar-nav .dropdown-item {
  transition: all 0.25s ease;
}
.main-header .navbar-nav .dropdown-item:hover {
  background-color: #440370;
  color: #fff;
}
.main-header .navbar-nav .nav-link.active:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -2px;
  width: 50%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.main-header .navbar-nav .nav-link:hover {
  color: #fff;
  /* font-weight: 700; */
}
.main-header .navbar-nav .nav-link:hover:before {
  width: 50%;
}
.main-header .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.header_social-icons {
  display: flex;
  background: #fff;
  padding: 0px 10px;
  gap: 15px;
}
.header_social-icons .header_social-icon {
  line-height: 1;
  color: #440370;
  font-size: 25px;
}
.header_social-icons .header_social-icon.behanceIcon {
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #68dcfc;
  padding: 2px 4px;
  border-radius: 6px;
}

.header_social-icons .header_social-icon.clutchIcon {
  width: 30px;
  border-radius: 6px;
}
.header_social-icons .header_social-icon.clutchIcon img {
  border-radius: 6px;
  width: 100%;
}
.header_social-icons .header_social-icon.trustPilot {
  width: 120px;
  border-radius: 6px;
  border: 1px solid #68dcfc;
  padding: 0 8px 8px 8px;
}
.header_social-icons .header_social-icon.trustPilot img {
  border-radius: 6px;
  width: 100%;
  mix-blend-mode: lighten;
}

/* Banner Start */
.main-banner {
  padding: 140px 0 40px;
  position: relative;
  overflow: hidden;
}
.main-banner-content h1 {
  font-size: 60px;
}
.main-banner-content p {
  color: #fff;
  font-size: 16px;
}
.ny-btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  padding: 8px 24px;
  border-radius: 16px;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    187deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
  font-family: "Poppins", serif;
  text-decoration: none;
  display: inline-block;
}
/* Banner End */

.content-with-icon-item * {
  margin: 0;
}

.content-with-icon-item .content-with-icon-img {
  width: 60px;
}

.content-with-icon-item .content-with-icon-img img {
  width: 100%;
}

.content-with-icon-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}
.content-with-icon-icon {
  background: #ffffff;
  line-height: 1;
  padding: 5px;
}
.content-with-icon-icon svg {
  color: #440370;
}

.content-with-icon-item .content-with-icon-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}
.content-with-icon-item h4,
.content-with-icon-item h3 {
  font-size: 20px;
}
.content-with-icon-item p {
  font-size: 15px;
  line-height: 1.3;
}

.premier-design-studio {
  margin: 60px 0;
}

.premier-design-studio-title h2 {
  font-size: 60px;
  font-weight: 500;
}

.design_and_development_all-platforms .sec-content h3 {
  font-size: 47px;
  font-weight: 500;
}
.premier-design-studio .sec-content h3 {
  font-size: 47px;
  font-weight: 500;
}

.premier-design-studio-img {
  padding-right: 30px;
  position: relative;
}

.design_and_development_all-platforms .premier-design-studio-img:after {
  content: "";
  width: 100px;
  height: 100px;
  display: block;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(202deg, #67dbff, rgba(68, 3, 112, 1) 100%);
  position: absolute;
  top: -30px;
  z-index: 1;
  left: -50px;
  border-radius: 50%;
}
.premier-design-studio-img img {
  z-index: 2;
  position: relative;
}

.get-custom-logo {
  padding: 50px 0;
  overflow: hidden;
}
.get-custom-logo-title {
  font-size: 29px;
}
.get-custom-logo-content.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.get-custom-logo-item {
  display: flex;
  gap: 16px;
  align-items: start;
}
.get-custom-logo-item .get-custom-logo-item-content p {
  color: #fff;
  margin: 0;
}
.get-custom-logo-item .get-custom-logo-item-icon {
  line-height: 1;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    187deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 19px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.get-custom-logo-item .get-custom-logo-item-content a,
.get-custom-logo-item .get-custom-logo-item-content .ObfuscatedEmail {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.web-creation-sec {
  padding: 100px 0;
}
.web-creation-img {
  position: relative;
}
.web-creation-img img {
  /* padding-right: 70px; */
  padding-right: 120px;
}

.web-creation-content h3 {
  font-size: 52px;
  line-height: 1.1;
}
.web-creation-content p {
  color: #fff;
}

.projects-done {
  border: 2px solid #67dbff;
  border-radius: 16px;
  padding: 11px;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 240px;
  position: absolute;
  right: 0;
  bottom: -20px;
  background: rgb(85, 19, 130);
  background: linear-gradient(
    141deg,
    rgba(85, 19, 130, 1) 0%,
    rgba(41, 3, 67, 1) 100%
  );
}
.projects-done * {
  margin: 0;
}
.projects-done p {
  font-size: 22px;
  line-height: 1.4;
  color: #67dbff;
}

.web-creation-img-content {
  position: relative;
}
.clipedShaped-sec {
  position: relative;
}
.clipedShaped-sec:before,
.clipedShaped-sec:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 60px;
  background: #fff;
  z-index: 3;
}
.clipedShaped-sec:before {
  left: 0;
  bottom: -1px;
  clip-path: polygon(0 1%, 75% 0, 100% 100%, 0% 100%);
}
.clipedShaped-sec:after {
  right: 0;
  top: -1px;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 25% 100%);
}

.clipedShaped-sec.reverse:after {
  left: 0 !important;
  top: -1px;
  clip-path: polygon(0% 0%, 100% 0, 75% 100%, 0% 100%);
}
.clipedShaped-sec.reverse:before {
  right: 0px !important;
  bottom: -1px;
  clip-path: polygon(25% 1%, 100% 0, 100% 100%, 0% 100%);
  left: unset;
}

.services-info-sec {
  margin: 60px 0;
}

.services-info-sec .content-with-icon-item .content-with-icon-img img {
  width: 60px;
}

.our-services-sec {
  padding: 80px 0;
}

.our-services-sec .sec-head {
  text-align: center;
}
.our-services-sec .sec-head p {
  color: #fff;
}
.our-services-card p {
  color: #fff;
}
.our-services-card-body {
  padding-top: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.our-services-card-body h3 {
  font-size: 26px;
}
.our-services-card {
  border-radius: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.projects-sec {
  margin: 60px 0;
  position: relative;
}

.projects-sec .sec-head {
  text-align: center;
}
.sec-head h2 {
  font-size: 45px;
  line-height: 1;
}
.testimonials-sec .sec-head h3 {
  font-size: 45px;
  line-height: 1;
}
.projects-sec .sec-head h3 {
  font-size: 45px;
}

.projects-sec .sec-head p {
  color: #440370;
}
.sec-tag {
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  text-transform: capitalize;
}

.our-benefits {
  padding: 80px 0;
  position: relative;
}

.our_benefits-icons .content-with-icon-item {
  background: linear-gradient(
    141deg,
    rgba(85, 19, 130, 1) 0%,
    rgba(41, 3, 67, 1) 100%
  );
  border: 2px solid #67dbff;
  padding: 11px;
  border-radius: 16px;
}
.our_benefits-icons .content-with-icon-item h4 {
  color: #fff;
}
.our_benefits-icons p {
  color: #fcfbfb;
}

.our_benefits-icons .content-with-icon-item .content-with-icon-img img {
  /* width: 60px;
  height: 60px; */
  width: 50px;
  height: 50px;
  object-fit: contain;
  object-position: center;
}
/* .our_benefits-icons .content-with-icon-item .content-with-icon-img {
  width: 60px;
  height: 60px;
} */

.testimonials-sec {
  margin: 60px 0;
}

.testimonials-sec .sec-head {
  text-align: center;
}
.testimonials-sec .sec-head .sec-tag {
  color: #440370;
}
.testimonials-item {
  text-align: center;
  border: 2px solid #440370;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 332px;
}
.testimonials-item * {
  margin: 0;
}
.testimonials-item .testimonials-item-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.testimonials-item .testimonials-desc {
  color: #292f3a;
  font-weight: 300;
}
.testimonials-item .testimonials-designation {
  color: #292f3a;
}
.testimonials-item .testimonials-item-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.testimonials-item .testimonials-item-img img {
  width: 100%;
}
.testimonials-item .testimonials-name {
  font-size: 25px;
}

.pricing-plan-sec .sec-head {
  text-align: center;
}
.pricing-plan-sec .sec-head p {
  color: #fff;
}

.price_plan_card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  color: #292f3a;
  font-family: "Poppins", serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price_plan_card-gray {
  background: #e9e9e9;
}
.price_plan_card .price-plan-card-body {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.price-plan-card-body-heading {
  font-family: "Outfit", serif;
  font-size: 23px;
  line-height: 1;
  margin: 20px 0 7px;
}

/* Targeting the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbars */
  height: 8px; /* For horizontal scrollbars */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #00000047;
  border-radius: 4px;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #440370;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #440370;
}

.price-plan-card-bodyScroll {
  height: 210px;
  overflow-y: auto;
  margin-bottom: 15px;
}
.price-plan-card-bodyScroll ul {
  margin-bottom: 0;
}
.price_plan_card .price-plan-card-body li {
  line-height: 2;
  color: #292f3a;
  font-size: 15px;
}

.price_plan_card .price_plan_card_head-description {
  color: #292f3a;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
}

.price_plan_card .package_price {
  color: #440370;
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.price_plan_card .package_name {
  font-family: "Outfit", serif;
  color: #292f3a;
  font-weight: 500;
  font-size: 17px;
}
.price_plan_card .price_plan_card-btn {
  border: unset;
  width: 100%;
  background: #440370;
  padding: 16px 10px;
  border-radius: 16px;
  color: #fff;
}

.design_and_development_all-platforms h2 {
  font-size: 50px;
  font-weight: 500;
}

.design_and_development_all-platforms .premier-design-studio-title p {
  max-width: 668px;
  margin: 0 auto;
}

.contact-us-sec {
  padding: 120px 0;
  overflow: hidden;
}

.blog-sec {
  margin: 60px 0;
}
.blog-sec .sec-head h3 {
  font-size: 45px;
}

.blog-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.our-services-card-header {
  overflow: hidden;
}
.our-services-card-header img {
  transition: all 0.5s ease;
}
.blog-card:hover .our-services-card-header img {
  transform: scale(1.04);
}

.our-services-sec .our-services-card-header {
  overflow: hidden;
  border-radius: 16px;
}

.blog-card p {
  color: #707070;
}
.blog-card h3 {
  font-size: 20px;
}
.blog-card-meta p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.blog-card-meta {
  margin-bottom: 10px;
}
.blog-card-meta svg {
  color: #440370;
}

.getStarted-sec {
  background-image: url("./assets/images/get-started-img.webp");
  padding: 330px 0 100px;
  background-position: top center;
  color: #fff;
  background-size: cover;
}
.getStarted-sec .sec-head h3 {
  font-size: 45px;
}
.getStarted-sec .sec-head p {
  color: #fcfbfb;
}

.main-footer {
  padding: 80px 0;
}
.main-footer .header_social-icons {
  background: unset;
  padding: 0px 0px;
}
.main-footer .header_social-icons a {
  color: #68dcfc;
}

.footer-about p {
  color: #fcfbfb;
}
.footer-logo {
  max-width: 160px;
  margin-bottom: 10px;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul li {
  line-height: 1.8;
}
.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  color: #fcfbfb;
  font-weight: 300;
  position: relative;
}

.footer-links ul li a:hover {
  color: #fff;
  font-weight: 700;
}
.footer-links ul li a:hover:before {
  width: 100%;
}
.footer-links ul li a:before {
  content: "";
  position: absolute;
  left: 0%;
  /* transform: translate(-50%); */
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.footer-title {
  font-size: 24px;
}

.footer-list-icon-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-list-icon-item {
  display: flex;
  gap: 8px;
  align-items: start;
}
.footer-list-icon-item .footer-list-text {
  color: #fcfbfb;
  margin: 0;
  line-height: 1.3;
  font-size: 15px;
  text-decoration: none;
}
.footer-list-icon-item .footer-list-icon {
  line-height: 1;
}
.footer-list-icon-item .footer-list-icon svg {
  color: #68dcfc;
}
.footer-newsletter-content p {
  color: #fcfbfb;
  line-height: 1.2;
}

.footer-newsletter-content .form-control {
  background-color: #fcfbfb;
  color: #707070;
}
.footer-newsletter-content .form-control:focus,
.footer-newsletter-content .form-control::placeholder {
  color: #707070;
}

.copyright-sec {
  padding: 10px 0;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    180deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
}
.copyright-sec p {
  color: #fcfbfb;
  font-size: 15px;
}
.copyright-sec p a {
  color: #fcfbfb;
  text-decoration: none;
}

.contact-us-map-content {
  display: flex;
  align-items: stretch;
  height: 100%;
  flex-direction: row-reverse;
}
.contact-us-map-content-iframeDiv {
  width: 100%;
  height: 100%;
}
.contact-us-map-content-iframeDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-us-map-content-iframeDiv iframe {
  border: none;
}
.contact-us-map-content-text {
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    180deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
  display: flex;
  justify-content: center;
  text-align: center;
}
.contact-us-map-content-text h1 {
  writing-mode: sideways-lr;
  font-size: 30px;
  white-space: nowrap;
  padding: 20px 0;
  /* display: flex;
  gap: 6px; */
}
.contact-us-map-content-text p {
  writing-mode: sideways-lr;
  font-size: 30px;
  white-space: nowrap;
  padding: 20px 0;
  color: #fff;
  font-weight: 500;
  margin: 0px 12px;
  /* display: flex;
  gap: 6px; */
}
/* .contact-us-map-content-text h1 p{
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
} */

.web-creation-content p {
  font-size: 15px;
}

/* Inner Pages CSS Start */
.inner-banner-sec {
  /* height: 100vh; */
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 210px 0;
  overflow: hidden;
}
.inner-banner-sec-bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  left: 0;
  top: 0;
}
.inner-bg-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #440370 0%, #220238 100%);
  position: absolute;
  opacity: 0.8;
  z-index: 2;
}
.inner-banner-sec .container {
  z-index: 4;
}

.inner-banner-content {
  color: #fcfbfb;
  text-align: center;
}
.inner-banner-content .breadcrumb {
  justify-content: center;
  font-family: "Poppins", serif;
}
.inner-banner-content .breadcrumb .breadcrumb-item a {
  color: #fcfbfb;
  text-decoration: none;
}
.inner-banner-content .breadcrumb-item.active,
.inner-banner-content .breadcrumb-item + .breadcrumb-item::before {
  color: #fcfbfb;
}
.inner-banner-content h1 {
  font-size: 50px;
}
.purple-bg-sec {
  padding: 80px 0;
  overflow: hidden;
}
.purple-bg-sec .sec-head {
  text-align: center;
}
.purple-bg-sec .sec-head p {
  color: #fff;
}

.team-card {
  background: #440370;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  overflow: hidden;
}
.team-card .team-card-body {
  padding: 20px 19px;
  text-align: center;
}
.team-card .team-card-body .header_social-icons {
  justify-content: center !important;
  background: transparent;
}
.team-card .team-card-body .header_social-icons a {
  color: #68dcfc;
}

.team-card .team-card-body h3 {
  font-size: 25px;
}
.team-card .team-card-body p {
  font-weight: 200;
  color: #ffffff;
  margin-block: 10px;
}
.about-us-sec {
  margin: 60px 0;
  overflow: hidden;
}

.about-us-sec .web-creation-content p {
  color: #707070;
}

.web-creation-content h4 {
  font-size: 20px;
  font-weight: 300;
}
.about-us-sec .web-creation-content h5 {
  font-weight: 300;
}
.about-us-sec .content-with-icon-icon {
  background: #440370;
}
.about-us-sec .content-with-icon-icon svg {
  color: #fff;
}

.about-us-experience {
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    180deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
  color: #fff;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}

.about-us-left-img {
  border-radius: 10px;
  overflow: hidden;
}

.about-us-left-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 16px;
}
.about-us-experience p {
  color: #fff;
  letter-spacing: 9px;
  font-size: 16px;
}
.about-us-experience * {
  margin: 0;
}
.about-us-experience h3 {
  font-size: 30px;
}
.digital-product .row {
  align-items: center;
}

.digital-product h3 {
  font-size: 52px;
  line-height: 1;
}

.outstanding-strategy {
  margin: 60px 0;
}

.outstanding-strategy .our_benefits-icons h5 {
  color: #fcfbfb;
}

.get-inspired-sec {
  margin: 60px 0;
  overflow: hidden;
}

.get-inspired-sec .sec-head h2 {
  font-size: 45px;
}
.get-inspired-sec .nav-tabs {
  justify-content: center !important;
  border: unset;
  gap: 10px;
  margin-bottom: 30px !important;
}

.get-inspired-sec .nav-tabs .nav-link {
  padding: 8px 24px;
  border-radius: 16px;
  font-family: "Poppins", serif;
  border: 1px solid #440370;
  color: #440370;
}
.get-inspired-sec .nav-tabs .nav-link.active {
  color: #fff;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    187deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
}

.get-inspired-sec .nav-link:focus-visible {
  outline: unset;
  box-shadow: unset;
}

.get-inspired-sec .sec-head p {
  font-family: "Poppins", serif;
  font-size: 15px;
}

.content-with-icon-item.blue-icon .content-with-icon-icon {
  background: #440370;
}
.content-with-icon-item.blue-icon .content-with-icon-icon svg {
  color: #fff;
}

.our_benefits-icons-pricing .content-with-icon-content h5 {
  color: #fcfbfb;
}

.blogs-pagination {
  gap: 10px !important;
}
.blogs-pagination .page-link {
  color: #fff;
  background-color: #440370;
  border-color: #440370;
  line-height: 1;
  padding: 6px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", serif;
}

.contact-us-sec-light {
  background: unset;
}
.contact-us-sec-light .form-control {
  border: 1px solid #707070;
  color: #707070;
}
textarea.form-control {
  resize: none;
}
.contact-us-sec-light .form-control::placeholder {
  color: #707070;
}
.contact-us-sec-light .web-creation-content h3 {
  color: #292f3a;
}
.contact-us-sec-light .sec-tag {
  color: #440370;
}
.successfull-projects-title {
  font-size: 40px !important;
  color: #fff !important;
  font-weight: 500;
  line-height: 1.2 !important;
}

.privacy-policy-sec {
  margin: 60px 0;
}

.privacy-policy-content {
  margin-bottom: 30px;
}
.privacy-policy-content h2 {
  font-weight: 600;
  font-size: 42px;
}
.privacy-policy-content p {
  font-family: "Poppins", serif;
}
.privacyPolicyLastDiv p {
  margin-bottom: 0 !important;
}
.privacy-policy-content p a,
.privacy-policy-content p .ObfuscatedEmail {
  color: #440370;
  text-decoration: none;
}

.privacy-policy-content ul {
  padding-left: 25px;
}
.privacy-policy-content ul li {
  font-family: "Poppins", serif;
  color: #707070;
  font-weight: 300;
}
.privacy-policy-content ul li::marker {
  color: #440370;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.services__avg-sec .content-with-icon-img {
  /* background: #440370; */
  background-image: url(assets/images/icon-bg.webp);
  height: 54px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services__avg-sec .content-with-icon-img p {
  color: #fff;
  font-family: "Outfit", serif;
  font-size: 18px;
  font-weight: 500;
}

.outstanding-strategy .our_benefits-icons .content-with-icon-item {
  height: 100%;
}

.services__info-sec .sec-head {
  max-width: 901px;
  margin: 0px auto 20px;
}
.services__info-sec .content-with-icon-item p {
  line-height: 1.3;
  font-size: 16px;
  color: #fff;
}

.outstanding-strategy
  .our_benefits-icons
  .outstanding-strategy-cols:nth-child(2),
.outstanding-strategy
  .our_benefits-icons
  .outstanding-strategy-cols:nth-child(4) {
  position: relative;
  top: 30px;
}

.loader-div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-div img {
  width: 100px;
  max-width: 100px;
}

.sideBar-loader .loader-div {
  min-height: unset;
}

.blogDetail-page .main-header {
  background: rgb(68, 3, 112);
  background-image: linear-gradient(
    90deg,
    rgba(68, 3, 112, 1) 0%,
    rgba(42, 53, 80, 1) 82%,
    rgba(42, 53, 80, 1) 100%
  );
  position: relative !important;
}

.blogDetail-page .main-header .header_social-icons {
  background-color: transparent;
}

.blogDetail-page .main-header .header_social-icons .header_social-icon {
  color: #fff;
}

.blog-detail-banner-img {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 20px;
  overflow: hidden;
}
.blog-detail-banner-img img {
  width: 100%;
}

.blogDetailMain-title {
  font-size: 32px;
  margin: 25px 0;
}
.blogDetail-about-infoItem {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 6px;
  font-size: 16px;
}
.blogDetail-about-infoItem svg {
  color: #2a3550;
}
.blogDetail-about-infoCategories {
  display: flex;
  align-items: center;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 10px;
}
.blogDetail-about-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px 0;
}
.blogDetail-about-infoItem a {
  text-decoration: none;
  color: unset;
}
.blogDetail-about-infoItem span {
  white-space: nowrap;
}
.blog-detail-content a {
  font-size: 16px;
  color: #000;
}
.blog-detail-content .post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.blog-detail-content .post-content p {
  margin-bottom: 13px !important;
}

.blog-detail-content .post-content :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 16px !important;
}

.sideBarBlogCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border: unset;
  border-radius: unset;
}
.sideBarBlogCard img {
  flex: 0 0 20px !important;
  height: unset;
  width: unset !important;
  max-width: 50px !important;
  object-fit: cover;
  border-radius: unset;
  max-height: 50px;
}
.sideBarBlogCard .card-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 5px !important;
  color: #2a3550;
}
.sideBarBlogCard a {
  text-decoration: none;
}
.sideBarBlogCard p {
  font-size: 14px;
  color: #555;
}
.category__blogs {
  padding: 60px 0;
}
/* Inner Pages CSS End */

.projects-item img {
  position: relative;
  transition: all 0.25s ease;
  border-radius: 16px;
}
.projects-item img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.01);
}
.not-found-page .main-banner .main-banner-content h2 {
  font-size: 45px;
}

/************* Location Pages CSS Start *************/

.WordPressPerformanceSection .abouttxt-data .web-whychoose-list {
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 20px;
}

.WordPressPerformanceSection .abouttxt-data .web-whychoose-list li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #707070;
}

.pixel-perfect-sec .news-card-img img {
  height: auto;
}

.pixel-perfect-sec {
  background: url(./assets/images/locationpages/app-development-buffalo/portfoliobg.webp)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px 0px 100px 0px;
}

section.pixel-perfect-sec .news-card-img img {
  height: auto;
}

.pixel-perfect-head {
  margin: 40px 0px 40px 0px;
  color: #fff;
}

.pixel-perfect-head h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.1;
}

.pixel-perfect-head p {
  color: #fff;
}

.location-support-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0 0;
  gap: 20px;
}

.location-support-card {
  text-align: center;
}

.location-card-img {
  background: transparent linear-gradient(180deg, #026888 0%, #440370 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.location-card-img:before {
  position: absolute;
  content: "";
  border: 1px solid #fff;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}

section.location-support-sec {
  padding: 70px 0;
}

section.location-support-sec {
  padding: 70px 0;
}

.location-support-head h6 {
  color: #440370;
  font-weight: 600;
  font-size: 18px;
}

.location-support-head h3 {
  color: #292f3a;
  font-size: 50px;
  font-weight: 500;
}

.location-contact-sec {
  background: url(./assets/images/locationpages/app-development-buffalo/contactbg.webp)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 150px 0px 130px 0px;
}

.location-contact-txt {
  color: #fff;
}

.location-contact-txt h2 {
  font-size: 50px;
}

.location-contact-txt p {
  color: #fff;
}

.location-contact-txt ul {
  margin: 0px;
  padding: 0px;
}

.location-contact-txt ul li {
  list-style: none;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location-contact-txt ul li span {
  color: #67dbfd;
  padding: 7px 10px 10px 10px;
  background: #ffffff1a;
  border: 0.30000001192092896px solid #ffffff5c;
  border-radius: 5px;
  line-height: normal;
}

.contactForm {
  padding: 30px;
  background: #63318eb0;
  box-shadow: 0px 3px 6px #00000029;
  border: 0.30000001192092896px solid #ffffff29;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.contactForm textarea.form-control {
  height: 130px;
  border-radius: 15px;
}

.location-faqs-sec {
  padding: 80px 0px;
}

section.location-faqs-sec {
  padding: 80px 0px;
}

.location-faqs-txt h6 {
  color: #440370;
  font-weight: 600;
  font-size: 18px;
}

.location-faqs-txt h2 {
  font-size: 50px;
  color: #292f3a;
}

.location-faqs-txt p {
  color: #161515;
}

.location-faqs-txt {
  margin: 0px 0px 40px 0px;
}

.location-faqs .accordion .accordion-item {
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  border: none;
  background: transparent linear-gradient(180deg, #026888 0%, #440370 100%) 0%
    0% no-repeat padding-box;
}

.location-faqs .accordion {
  background: transparent;
  border: none;
}

.location-faqs .accordion .accordion-item .accordion-header {
  background: transparent;
  color: #fff;
  border: none !important;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button.collapsed {
  background: #fff;
  color: #161515;
  border: none !important;
  font-weight: 500;
  box-shadow: 0px 3px 6px #00000029;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.location-faqs
  .accordion
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  background: transparent;
  color: #161515;
  border: none !important;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  font-weight: 500;
}

.location-faqs .accordion .accordion-item .accordion-collapse.collapse.show {
  border: none !important;
}

.location-faqs .accordion .accordion-item .accordion-body {
  border: none !important;
  color: #fff;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button::after {
  background-image: url(./assets/images/locationpages/app-development-buffalo/downarrow.svg);
  transform: rotate(0deg);
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed)::after {
  background-image: url(./assets/images/locationpages/app-development-buffalo/uparrow.svg);
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:focus {
  outline: none;
  border: none !important;
}

section.tabs-pricing-sec {
  padding: 70px 0px;
}

section.tabs-pricing-sec {
  padding: 70px 0px;
}

.tabs-pricing-head h6 {
  color: #440370;
  font-weight: 600;
  font-size: 18px;
}

.tabs-pricing-head h2 {
  font-size: 50px;
  color: #292f3a;
  font-weight: 600;
}

.tabs-pricing-head p {
  color: #161515;
}

.tabs-pricing-head {
  margin: 0px 0px 30px 0px;
}

.dynamic-pricing-tabs .react-tabs .react-tabs__tab-list {
  border: none;
  border-radius: 50px;
  justify-content: center;
  max-width: max-content;
  margin: 0 auto 40px !important;
  gap: 20px;
}

.dynamic-pricing-tabs .react-tabs .react-tabs__tab-list .react-tabs__tab {
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 16px;
  font-family: "Poppins", serif;
  border: 1px solid #440370;
  color: #440370;
}

.dynamic-pricing-tabs
  .react-tabs
  .react-tabs__tab-list
  .react-tabs__tab--selected {
  color: #fff;
  background: rgb(2, 104, 136);
  background-image: linear-gradient(
    187deg,
    rgba(2, 104, 136, 1) 0%,
    rgba(68, 3, 112, 1) 100%
  );
}

/* Services page Css Start */
.services-banner-sec {
  padding: 170px 0 60px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  background-color: #120f10;
}
.services-banner-sec-bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 651px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
.services-banner-sec .container {
  position: relative;
  z-index: 2;
}

.services-banner__content {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 315px;
}

.main-banner__content-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.services-banner__content .main-banner__content-btns {
  justify-content: start;
}

.services-banner__content h1 {
  font-size: 50px;
}
.services-banner__img img {
  width: 100%;
  height: auto;
}

.main-banner__content-imgs {
  max-width: 450px;
}

.services-banner__content p {
  font-size: 16px;
}

.services-about__sec {
  margin: 60px 0;
  overflow: hidden;
}

.services-about__content h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}

.services-about__content p {
  font-size: 16px;
}

.services-about__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.app-florida-herobanner {
  padding: 60px 0px 130px 0px;
  background: transparent;
}

.app-florida-herobanner .services-banner-sec-bgImg {
  min-height: auto;
}

.app-florida-herobanner .services-banner__content p {
  color: #fff;
}

.choose-head {
  margin: 0px 0px 50px 0px;
  text-align: center;
}

.choose-head h6 {
  color: #440370;
  font-weight: 600;
  font-size: 18px;
}

.choose-head h2 {
  font-size: 50px;
  font-weight: 600;
  color: #292f3a;
}

.choose-head p {
  color: #161515;
}

.location-hero-banner {
  background: #ffffff;
  padding: 190px 0px 190px 0px;
}

.location-hero-banner .services-banner__content p {
  color: #fff;
}

.locatio-banner-bulletpoints {
  padding: 0px 0px 0px 20px;
}

.service-form {
  background: #ffffff17;
}

.reimage-banner .contactForm {
  display: none;
}

.wordpress-banner .contactForm {
  display: none;
}

/************* Location Pages CSS End *************/

/************* Wordpress Develoment Page CSS Start *************/

.wordpress-banner {
  padding: 240px 0px 190px 0px;
}

.shorttop-head {
  color: #440370;
  font-size: 18px;
}

.web-creation-content .another-benefit-para {
  margin: 20px 0px 30px 0px;
}

section.our-process-sec {
  padding: 50px 0px 50px 0px;
}

.our-process-head {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.our-process-head p {
  color: #161515;
}

.mainhead {
  font-size: 50px;
  font-weight: 600;
  color: #292f3a;
}

.process-box h3 {
  font-size: 40px;
  color: #292f3a;
  text-decoration: underline;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}

.process-box h5 {
  color: #440370;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}

.process-box p {
  color: #161515;
  font-size: 16px;
}

.our-services-sec {
  background: url(./assets/images/services/wordpressdevelopment/servicebg.webp)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
}

.our-service-head {
  color: #fff;
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.our-service-head h2 {
  font-size: 50px;
}

.our-service-head p {
  color: #fff;
}

.serivce-box-small {
  border: 1px solid #ffffff;
  padding: 30px 0px 0px 30px;
  border-radius: 13px;
  margin: 0px 0px 40px 0px;
}

.service-small-txt h6 {
  color: #fff;
}

.service-small-txt p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.service-small-img img {
  width: 90%;
}

.service-small-img {
  text-align: end;
}

.service-large-box {
  border: 1px solid #ffffff;
  padding: 30px 0px 0px 30px;
  border-radius: 13px;
  display: flex;
  align-items: flex-start;
  margin: 0px 0px 40px 0px;
}

.service-large-txt h6 {
  color: #fff;
  font-size: 20px;
}

.service-large-txt p {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.service-large-img img {
  width: 90%;
}

.service-large-txt {
  width: 50%;
}

.service-large-img {
  width: 50%;
  padding: 38px 0px 20px 0px;
}

.portfolio-card {
  width: 500px !important ;
  height: 400px;
}

.portfolio-img img {
  width: 100%;
}

.portfolio-cards .slick-list .slick-track {
  display: flex;
  align-items: center;
  gap: 20px;
}

.portfolio-cards .slick-list .slick-track .slick-slide {
  width: auto !important;
}

.service-portfolio-sec {
}

.portfolio-head {
  text-align: center;
  margin: 0px 0px 50px 0px;
}

.portfolio-head p {
  color: #161515;
}

/************* Wordpress Develoment Page CSS End *************/

/************* Ecommerce Develoment Page CSS Start *************/

.ecommerce-sevices-sec {
  background: url(./assets/images/services/ecommercedevelopment/servicebg.webp)
    no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 80px 0px 80px 0px;
}

.ecommerce-head {
  text-align: center;
  margin: 0px 0px 50px 0px;
  color: #fff;
}

.ecommerce-head h2 {
  font-size: 50px;
}

.ecommerce-head p {
  color: #ffffff;
}

.ecommerce-service-box {
  padding: 30px;
  color: #ffff;
  background: #440370 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.ecommerce-service-box img {
  width: 70px;
}

.ecommerce-service-box h5 {
  font-weight: 500;
  margin: 10px 0px 20px 0px;
}

.ecommerce-service-box p {
  color: #fff;
}

.ecommerce-service-btn {
  text-align: center;
  margin: 50px 0px 40px 0px;
}

.ecommerce-portfolio-sec {
  padding: 70px 0px;
}

.ecommerce-portfolio-sec .news-card-img img {
  height: auto;
}

section.ecommerce-portfolio-sec .pixel-perfect-head h6 {
  color: #440370;
  font-size: 18px;
}

section.ecommerce-portfolio-sec .pixel-perfect-head h2 {
  color: #292f3a;
  font-weight: 600;
}

section.ecommerce-portfolio-sec .pixel-perfect-head p {
  color: #161515;
}

.ecommerce-portfolio-sec .pixel-button-div {
  display: block !important;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.ecommerce-portfolio-sec .packages-number {
  display: none !important;
}

.eccomerce-about-sec {
  position: relative;
}

.eccomerce-about-sec .about-abslt-box {
  display: block !important;
  width: 220px;
  background: transparent linear-gradient(145deg, #551382 0%, #290343 100%) 0%
    0% no-repeat padding-box;
  color: #fff;
  padding: 20px 30px 10px 30px;
  border: 3px solid #ffffff;
  border-radius: 20px;
  position: absolute;
  bottom: 35px;
  left: 31%;
}

.about-abslt-box h3 {
  font-size: 40px;
}

.eccomerce-about-sec .about-abslt-box p {
  color: #fff;
}

.about-abslt-box h3 {
  font-size: 40px;
}

.fantasy-bullet-points li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0px;
}

.fantasy-bullet-points {
  padding: 0px;
}

.wordpress-benefit-sec {
}

.benefit-check-points {
  margin: 30px 0px 30px 0px;
}



/************* Ecommerce Develoment Page CSS End *************/

@media (max-width: 1399px) {
  .clipedShaped-sec:before,
  .clipedShaped-sec:after {
    width: 28%;
  }
  .premier-design-studio-title h2 {
    font-size: 45px;
  }
  .design_and_development_all-platforms .sec-content h3 {
    font-size: 38px;
    line-height: 1.1;
  }
  .premier-design-studio .sec-content h3 {
    font-size: 38px;
    line-height: 1.1;
  }
  .get-custom-logo-title {
    font-size: 24px;
  }
  .about-us-experience p {
    font-size: 15px;
  }
  .digital-product h3 {
    font-size: 41px;
  }

  .outstanding-strategy .web-creation-content h3 {
    font-size: 40px;
  }
}

@media (max-width: 1199px) {
  .main-banner-content h1 {
    font-size: 55px;
    line-height: 1;
  }
  .main-banner-content p {
    font-size: 15px;
  }
  .get-custom-logo-title {
    font-size: 21px;
  }
  .web-creation-content h3 {
    font-size: 40px;
  }
  .web-creation-content p {
    font-size: 15px;
  }

  .content-with-icon-item h5 {
    font-size: 16px;
  }
  .content-with-icon-item p {
    font-size: 14px;
  }
  .our-services-card p {
    font-size: 15px;
  }
  .our-services-card-body h3 {
    font-size: 18px;
  }
  .price_plan_card .price_plan_card_head-description {
    font-size: 14px;
  }
  .price_plan_card .price-plan-card-body li {
    font-size: 12px;
  }
  .price_plan_card .price_plan_card-btn {
    padding: 9px 10px;
  }
  .price_plan_card .package_price {
    font-size: 40px;
  }
  .design_and_development_all-platforms .sec-content h3 {
    font-size: 29px;
  }
  .premier-design-studio .sec-content h3 {
    font-size: 29px;
  }
  .footer-list-icon-item .footer-list-text {
    font-size: 14px;
  }
  .web-creation-img img {
    padding-right: 40px;
  }
  .about-us-experience p {
    letter-spacing: 5px;
  }

  .digital-product p {
    font-size: 15px;
  }
  .digital-product h3 {
    font-size: 37px;
  }
  .outstanding-strategy .sec-head h2 {
    font-size: 35px;
  }

  .get-inspired-sec .nav-tabs .nav-link {
    padding: 5px 16px;
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  .successfull-projects-title {
    font-size: 36px !important;
  }
  .category__blogs {
    padding: 40px 0 !important;
  }
  .outstanding-strategy
    .our_benefits-icons
    .outstanding-strategy-cols:nth-child(2),
  .outstanding-strategy
    .our_benefits-icons
    .outstanding-strategy-cols:nth-child(4) {
    top: 0px;
  }
  .get-inspired-sec .sec-head h2 {
    font-size: 38px;
  }
  .main-banner .row {
    flex-direction: column-reverse;
  }
  .main-banner .main-banner-content {
    text-align: center;
  }
  .main-banner {
    padding: 100px 0 40px;
    position: relative;
  }
  .get-custom-logo-title {
    font-size: 33px;
    text-align: center;
  }
  .premier-design-studio .sec-content h3 {
    font-size: 29px;
    text-align: center;
  }
  .premier-design-studio .sec-content p {
    text-align: center;
  }
  .premier-design-studio-title h2 {
    font-size: 38px;
    line-height: 1;
  }
  .web-creation-img img {
    padding-right: 130px;
  }
  .our-services-card p {
    font-size: 14px;
  }
  .price_plan_card {
    max-width: 480px;
    margin: 0 auto;
  }
  .price_plan_card .price_plan_card_head-description {
    font-size: 15px;
  }
  .price_plan_card .price-plan-card-body li {
    font-size: 15px;
  }
  .testimonials-sec .sec-head h2 {
    font-size: 42px;
  }
  .pricing-plan-sec .sec-head h2 {
    font-size: 42px;
    line-height: 1;
  }
  .premier-design-studio-img {
    padding-right: 0px;
  }
  .main-header .navbar-nav {
    background: #fff;
    padding: 16px;
  }
  .main-header .navbar-nav .nav-link {
    color: #440370;
  }
  .header_social-icons {
    padding: 0 16px 16px 16px;
  }
  .getStarted-sec {
    padding: 200px 0 100px;
  }

  .digital-product .row {
    flex-direction: column-reverse;
  }
  .digital-product .digital-product-content {
    text-align: center;
  }
  .outstanding-strategy .web-creation-content {
    text-align: center;
  }
  .outstanding-strategy .web-creation-content h3 {
    font-size: 30px;
  }
  .blogDetail-page .main-header .header_social-icons {
    background-color: #fff;
  }

  .blogDetail-page .main-header .header_social-icons .header_social-icon {
    color: #440370;
  }
  .blogDetail-page .main-header .navbar-toggler {
    background-color: #fff;
  }
}

@media (max-width: 786px) {
  .location-contact-txt {
    margin: 0px 0px 40px 0px;
  }

  .location-support-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-banner__content {
    margin: 0px 0px 50px 0px;
  }

  .abouttxt-data {
    padding: 40px 0px 0px 0px;
  }

  .app-florida-herobanner .services-banner-sec-bgImg {
    object-position: left;
  }

  .wordpress-banner {
    padding: 100px 0px 70px 0px;
  }

  .wordpress-banner .services-banner-sec-bgImg {
    object-position: left;
  }

  .our-service-head h2 {
    font-size: 40px;
  }

  .service-large-box {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .service-large-img {
    width: 100%;
    padding: 10px 0px 0px 0px;
  }

  .serivce-box-small {
    padding: 20px;
    text-align: center;
  }

  .service-small-img {
    text-align: center;
  }

  .mainhead {
    font-size: 40px;
  }

  .process-box {
    text-align: center;
  }

  .service-large-txt {
    width: 100%;
  }

  .eccomerce-about-sec .about-abslt-box {
    bottom: 35%;
    left: 60%;
  }
}

@media (max-width: 767px) {
  .successfull-projects-title {
    font-size: 33px !important;
  }
  .get-inspired-sec .sec-head h2 {
    font-size: 36px;
  }
  .get-inspired-sec .sec-head p {
    font-size: 15px;
  }
  .get-custom-logo-content.d-flex {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .getStarted-sec {
    padding: 110px 0 40px;
  }

  .outstanding-strategy .web-creation-content h3 {
    font-size: 24px;
  }
  .main-footer {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .not-found-page .main-banner .main-banner-content h2 {
    font-size: 34px;
  }
  .testimonials-sec .sec-head h3 {
    font-size: 35px;
    line-height: 1.2;
  }
  .getStarted-sec .sec-head h3 {
    font-size: 35px;
    line-height: 1.2;
  }
  .blog-sec .sec-head h3 {
    font-size: 35px;
    line-height: 1.2;
  }
  .projects-sec .sec-head h3 {
    font-size: 35px;
    line-height: 1;
  }
  .successfull-projects-title {
    font-size: 30px !important;
  }
  .get-inspired-sec .sec-head h2 {
    font-size: 32px;
  }
  .main-banner-content h1 {
    font-size: 39px;
  }
  .main-banner-content p {
    font-size: 14px;
  }
  .clipedShaped-sec:before,
  .clipedShaped-sec:after {
    width: 20%;
  }
  .premier-design-studio .sec-content h3 {
    font-size: 25px;
    text-align: center;
  }
  .premier-design-studio .sec-content p {
    font-size: 14px;
  }
  .get-custom-logo-title {
    font-size: 25px;
  }
  .web-creation-img img {
    padding-right: 60px;
  }
  .projects-done p {
    font-size: 22px;
    line-height: 1;
  }

  .projects-done h1 {
    font-size: 30px;
  }
  .web-creation-content h3 {
    font-size: 36px;
  }
  .web-creation-content p {
    font-size: 14px;
  }
  .sec-head h2 {
    font-size: 35px;
  }
  .our-services-card-body h3 {
    font-size: 22px;
  }
  .getStarted-sec {
    padding: 60px 0 30px;
  }
  .premier-design-studio-title h2 {
    font-size: 30px;
  }
  .about-us-experience h3 {
    font-size: 24px;
  }
  .about-us-experience p {
    letter-spacing: 0px;
  }

  .about-us-experience {
    gap: 0px;
  }
  .digital-product h3 {
    font-size: 31px;
  }

  .services-banner__content {
    margin: 0px 0px 40px 0px;
  }

  .choose-head h2 {
    font-size: 40px;
  }

  .abouttxt-data {
    margin: 40px 0px 0px 0px;
  }

  .WordPressPerformanceSection .abouttxt-data .web-whychoose-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .pixel-perfect-head h2 {
    font-size: 40px;
  }

  .tabs-pricing-head h2 {
    font-size: 40px;
  }

  .services-banner__content h1 {
    font-size: 40px;
  }

  .app-florida-herobanner {
    padding: 60px 0px 80px 0px;
  }

  .location-support-head h3 {
    font-size: 40px;
  }

  .location-hero-banner {
    padding: 130px 0px 190px 0px;
  }

  .location-support-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .location-contact-sec {
    padding: 70px 0px 70px 0px;
  }

  .location-faqs-txt h2 {
    font-size: 40px;
  }

  .location-contact-txt h2 {
    font-size: 40px;
  }

  .location-contact-txt {
    margin: 0px 0px 40px 0px;
  }

  .location-hero-banner .services-banner-sec-bgImg {
    object-position: left;
  }

  .eccomerce-about-sec .about-abslt-box {
    bottom: 60%;
    left: 30%;
  }

  .ecommerce-head h2 {
    font-size: 40px;
}

.ecommerce-service-box {
    text-align: center;
}



}

@media (max-width: 430px) {
  .testimonials-sec .sec-head h3 {
    font-size: 30px;
  }
  .getStarted-sec .sec-head h3 {
  }
  .projects-sec .sec-head h3 {
    font-size: 32px;
  }
  .blog-sec .sec-head h3 {
    font-size: 32px;
  }
  .main-banner .main-banner-content {
    min-height: 374px;
  }
  .premier-design-studio .sec-content {
    min-height: 540px;
  }
  .clipedShaped-sec:before,
  .clipedShaped-sec:after {
    width: 25%;
  }

  .get-custom-logo-title {
    font-size: 23px;
  }
  .web-creation-content h3 {
    font-size: 28px;
  }
  .testimonials-sec .sec-head h2 {
    font-size: 38px;
  }
  .pricing-plan-sec .sec-head h2 {
    font-size: 35px;
  }
  .sec-head h2 {
    font-size: 32px;
  }
  .privacy-policy-content h2 {
    font-size: 28px;
    /* line-height: 1; */
  }
}

@media (max-width: 375px) {

  .eccomerce-about-sec .about-abslt-box {
    display: none !important;
}

}
